<!-- Block 1 -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
      repellat corporis pariatur. Eveniet doloribus commodi praesentium cum
      porro eaque explicabo quos voluptas laborum a ducimus nesciunt,
      asperiores eos culpa optio natus! Adipisci dolorum nobis illum, ipsam
      saepe ab distinctio, corrupti totam, odit enim exercitationem facilis
      pariatur eveniet culpa impedit dicta.
    </p>
  </header>
</section>

<!-- Block 2 -->
<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
        repellat corporis pariatur. Eveniet doloribus commodi praesentium cum
        porro eaque explicabo quos voluptas laborum a ducimus nesciunt,
        asperiores eos culpa optio natus! Adipisci dolorum nobis illum, ipsam
        saepe ab distinctio, corrupti totam, odit enim exercitationem facilis
        pariatur eveniet culpa impedit dicta.
      </p>
  </div>
  </header>
</section>
