<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p class="callout__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rem
        itaque minus. Mollitia consectetur atque eligendi officia,
        exercitationem, explicabo accusamus cumque accusantium facere,
        distinctio quam. Voluptates veritatis iusto, quo aspernatur, sint fuga
        quisquam, eaque unde est possimus architecto inventore commodi. Fugit,
        aliquam quaerat expedita doloremque repellendus reprehenderit dicta
        nostrum quis.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
